/* --- Breakpoint para tablets e desktop ----- */

@media screen and (min-width: 840px) {

  nav {
    padding: 1.6rem 10rem;
  }

  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav hr {
    width: 1px;
    height: 4.4rem;

    border: none;
  }

  #contUs {
    width: 12.8rem;
  }

  .toggleDarkMode {
    width: 4rem;
  }

  .toggleDarkMode p {
    display: none;
  }

  /* ------ conteúdo principal ---------- */
  section {
    padding: 9.6rem 10rem;
  }

  /* ----------- Home Page display ------------- */
  #home {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: auto auto auto; 
    gap: 4.8rem; 
    align-items: start; 
  }
  
  .imagePerfil {
    grid-column: 2; 
    grid-row: 1 / span 3; /* A imagem ocupa todas as 3 linhas */
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .imagePerfil img {
    width: 70%;
  }
  
  .description {
    grid-column: 1; 
    grid-row: 1; 
  }
  
  .status {
    grid-column: 1; 
    grid-row: 2; 
  }
  
  .socialMedia {
    grid-column: 1; 
    grid-row: 3; 
  }

  /* ----- Home Page Conteúdo ---- */
  .description h1 {
    font-size: 4.8rem;
  }

  .about-me-1 {
    flex-basis: 35%;
  }

  .about-me-2 {
    flex-basis: 60%;
  }

  /* ------ About me Page ------  */
  .row {
    margin-bottom: 4.8rem;
  }

  .sub-title {
    font-size: 1.8rem;
  }

  /*------- Texto Experiência ----- */

  .company h3 {
    font-size: 2.4rem;
  }

  /* -------- Formação ------------  */
  #experiencia {
    flex-direction: column;
    align-items: normal;
    flex-wrap: nowrap;
    gap: 4.8rem;

    max-width: 80rem;
    margin: auto;
  }

  #experiencia p {
    order: 3;
  }


  #experiencia div > div {
    max-width: 30rem;
  }

  .exp-1, .exp-2, .exp-3{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }

  /* --------- Skills -----------  */
  .row h2 {
    font-size: 2rem;
  }

  #skills ul{
    max-width: 100rem;
    margin: auto;
  }

  #skills li {
    flex-basis: 15%;
  }

  .skill ul {
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* --------- portfólio ----------  */
  .work {
    display: flex;
    justify-content: space-between;
  }
  
  .work:nth-child(even) .header-work {
    order: 2;
    border-radius: 0 1.6rem 1.6rem 0;
  }

  .work:nth-child(even) .content-work {
    border-radius: 1.6rem 0 0 1.6rem;
  }

  .header-work {
    flex-basis: 45%; 
    max-width: 100%;

    border-radius: 1.4rem 0 0 1.6rem;
  }

  .content-work {
    flex: 1; 
    border-radius: 0 1.6rem 1.6rem 0rem;
  }

  .work {
    display: flex;
    align-items: stretch; 
    min-height: 200px; 
  }

  /* ------ footer -----  */
  footer {
    font-size: 1.4rem;
  }
  
}


 /* ------ Breakpoint Desktop (1280px +) -----  */
@media screen and (min-width: 1280px) {
  .about {
    flex-direction: row;
    align-items: center;
    gap: 4.8rem;
  }

  .about-col-1 {
    /* flex-basis: 20%; */
    height: 100%;
  }

  .about-col-2 {
    align-self: flex-start;
    flex-basis: 70%;
  }

  .about-col-2 h2 {
    flex-basis: 100%;
  }

  .about-col-2 ul {
    flex-basis: 100%;
  }
}
