@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*10px*/
  --font-default: "Outfit", sans-serif;
  --font-color: #f8fafc;
  --contactColor: #fafafa;
  
  --gradient-color01: #f50591;
  --gradient-color02: #519ffc;

  --primary-color: #1D1D1D; /* Cor principal (fundo escuro) */
  --second-color: #f8fafc; /* Cor secundaria (texto claro) */

  --outlineWithe: #fafafa;
  --svg-whiteMode-hover: #fbbf24;
  --nav-shadow: rgba(122, 122, 122, 0.100);
  --available-circle: #84cc16;
}

/* ----- Definições de estilo para o modo claro (white-mode) ---- */
.white-mode:root {
  --font-color: #1D1D1D;

  --primary-color: #f8fafc;
  --second-color: #1D1D1D;

  --outlineWithe: #1D1D1D;
}

body {
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: var(--font-color);
  font-family: var(--font-default);

  transition: background 200ms linear;
}

/* --- Botões de controle de tema (escuro/claro) --- */
.toggleDarkMode {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dark, #white {
  display: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

/* Ícone de Lua (DarkMode) */
#dark svg {
  fill: var(--second-color);
}

/* Ícone de Sol (WhiteMode) */
#white svg {
  fill: var(--primary-color);
}

#white.active svg {
  fill: var(--second-color);
}

/* Efeito de hover nos ícones de tema */
#dark svg:hover, #white svg:hover {
  fill: var(--svg-whiteMode-hover);
  filter: drop-shadow(0 0 10px var(--svg-whiteMode-hover));

  cursor: pointer;
  transition: all 300ms ease-in;
}

#white.active, #dark.active {
  display: block;
}

.toggleDarkMode{
  display: flex;
}


/* ------ Estilos da lista de navegação -----*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);

  height: 8vh;
  box-shadow: 0 0 15px var(--nav-shadow);

  padding: 1.6rem;
}

nav li a {
  color: var(--font-color);
  text-decoration: none;
  transition: 0.3s;
  position: relative;
}

/* ---- Effect Link Hover ----  */
nav ul li:not(:last-child) a::after{
  content: '';
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, var(--gradient-color01) 0%, var(--gradient-color02) 100%);
  position: absolute;
  left: 0;
  bottom: -6px;
  overflow-x: hidden;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}

.logo img {
  width: 2.4rem;
}

a:hover {
  color: var(--gradient-color01);
}

ul li:hover:not(:last-child) {
  transform: scale(1.03);  
  transition: transform 200ms linear;
}

.nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

nav hr {
  background-color: var(--second-color);
  width: 100%;
}

/* botão "contact" + efeitos de hover */
#contUs {
  background: linear-gradient(90deg, var(--gradient-color01) 0%, var(--gradient-color02) 100%);
  text-align: center;
  width: 100%;
  padding: 1.2rem;
  border-radius: 4px;
  position: relative;
  z-index: 5;
  overflow: hidden; 
  cursor: pointer;
  transition: color 0.4s ease; 
}

#contUs::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--gradient-color01);
  transition: left 0.4s ease; 
  z-index: -1;
}

#contUs:hover::after {
  left: 0;
}

#contUs:focus-within  {
  border: 2px solid var(--outlineWithe);
}

#contUs a {
  color: var(--contactColor);
}

#contUs a:focus{
  outline: none;
}

#contUs:active {
  transform: scale(0.98); /* Efeito de pressionamento */
}

/* ----- Estilização do menu Mobile ---------*/
.mobile-menu {
  display: none;
  cursor: pointer;
}

.btnOpen, .btnClose {
  width: 2.4rem;
  fill: var(--second-color);
  transition: fill 300ms ease;
}

.btnOpen:hover, .btnClose:hover{
  fill: var(--gradient-color01);
}

.btnClose{
  display: none;
  transition: 0.3s;

  transform: scale(2);
}

/* Estilos específicos para mobile */
@media (max-width: 840px){
  body {
    overflow-x: hidden;
  }

  .nav-menu {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    align-items: center;
    transform: translateX(100%);
    z-index: 2;
    
    transition: transform 300ms ease-in,  backdrop-filter 0.7s ease-in-out;
  }

  .modal-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    width: 70vw;
    height: 100%;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;

    padding: 1.6rem;
  }

  .mobile-menu{
    display: block;
  }

}

.nav-menu.active {
  transform: translateX(0);
  backdrop-filter: blur(4px);
}

.btnOpen.active {
  display: none;
}

.btnClose.active{
  display: block;
}

/* ------- Conteúdo Principal --------- */
main {
  display: grid;
  place-content: center;
}

/* --------- Home Page ----------*/
section {
  padding: 6.4rem 1.6rem;
}

#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4.8rem;
}

.imagePerfil {
  margin: 0 auto;
}

.imagePerfil img{
  width: 24rem;
  border-radius: 50%;
}

.description h1 {
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4rem; 

  margin-bottom: 0.8rem;
}

.description h1 span {
  color: var(--gradient-color01);
}

.description p {
  font-weight: 400;
  line-height: 2.4rem;
}

/* -- Estilização local e disponibilidade -- */
.status {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: 0.8rem;

  background-color: none;
}

#local {
  display: flex;
  gap: 0.8rem;
}

#local svg{
  width: 2.4rem;
}

.status div:last-child{
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.status hr {
  background-color: var(--available-circle);
  width: 1rem;
  height: 1rem;

  margin-left: 0.8rem;
  border: none;
  border-radius: 50%;
}

/* --- Estilização dos ícones de social mídia --- */
.socialMedia {
  display: flex;
  gap: 0.8rem;
}

.socialMedia svg {
  width: 3.2rem;
  height: 3.2rem;

  fill: var(--second-color);
}

.socialMedia svg:hover {
  fill: var(--gradient-color01);
  transform: scale(1.1);

  transition: 300ms;
}